<header class="navbar nabvar-fixed-top navbar-inberse">
	<div class="container">
		<%= link_to "sample app", static_pages_home_url, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home" "#" %></li>
				<li><%= link_to "Help" "#" %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
